/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';  /* Project id 4192946 */
  src: url('https://at.alicdn.com/t/c/font_4192946_0ecq15wlr2li.woff2?t=1690961302818') format('woff2'),
  url('https://at.alicdn.com/t/c/font_4192946_0ecq15wlr2li.woff?t=1690961302818') format('woff'),
  url('https://at.alicdn.com/t/c/font_4192946_0ecq15wlr2li.ttf?t=1690961302818') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bianji:before {
  font-size: 23px;
  content: "\e601";
}

.icon-xiaoxi:before {
  font-size: 25px;
  content: "\e62f";
}

.icon-chakan:before {
  content: "\e600";
}

.icon-pinglun1:before {
  content: "\e891";
}

.icon-dianzan1:before {
  content: "\ec7f";
}

.icon-bokeyuan:before {
  font-size: 23px;
  content: "\e603";
}

.icon-xieboke:before {
  content: "\e624";
}

.icon-tongji:before {
  content: "\e635";
}

.icon-statistics:before {
  content: "\e86b";
}

.icon-blogIcon:before {
  content: "\e66b";
}

.icon-dingyuehao:before {
  color: dodgerblue;
  content: "\e736";
}

.icon-pinglun:before {
  color: dodgerblue;
  content: "\e606";
}

.icon-wentifankui:before {
  color: #cccccc;
  content: "\e644";
}

.icon-gengduo:before {
  color: dodgerblue;
  content: "\e615";
}

.icon-dianzan:before {
  content: "\e768";
  color: #42b983;
}

.icon-fenlei:before {
  content: "\e676";
  color: #3a8ee6;
}

.icon-guanzhu:before {
  color: gold;
  content: "\ff76";
}

